<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../media/images/folder.ico" type="image/x-icon">
        <link rel="stylesheet" href="../css/aboutMe.css">
        <title>Portfolio</title>

    </head>

    <body>

        <div class="title">

            <h1>GET TO KNOW ME</h1>
                
            <a href="./index.html">
                <img src="../media/images/goBack.png" alt="button to go back">
            </a>

        </div>

        <div class="buttons">
            <button id="buttonAboutMe" class="selected" >About me</button>
            <button id="buttonExperience" >Experience</button>
            <button id="buttonTechnologies" >Technologies</button>
        </div>

        <div class="main">

            <div class="container aboutMe" style="display: flex;">

                <h2>About me</h2>
                <hr>

                <div class="image">
                    <img src="../media/images/meInfo.jpeg" alt="Image of me">
                </div>

                <div class="info">

                    <p>
                        My name is Mario. I was born in Mexico City in 2003. Since I was a kid, I have had an interest in video games,
                        and thanks to that, I developed a passion for computers and programming. 
                        <br>
                        <br>
                        For that reason, I studied high school at IPN, specializing in computer networks.
                        Then, I started university at IPN as well, in Higher School of Computing, where I have been studying Computer Systems Engineering since 2021.
                        <br>
                        <br>
                        I am particularly interested in data analysis and software development, especially in web development.                       
                        I am eager to continue learning and to contribute all my knowledge and skills to the workplace. 
                        I enjoy teamwork, listening, and proposing solutions.
                    </p>
                    
                </div>         

            </div>

            <div class="container experience" style="display: none;">

                <h2>Experience</h2>
                <hr>

                <div class="imgJobIPN">
                    <img src="../media/images/ipn.png" alt="IPN logo">
                </div>

                <div class="infoJobIPN">
                    <p>
                        I have studied at this institute since high school and continued through university. 
                        <br>
                        <br>
                        I participated in "Classroom Project" worked on numerous projects in various subjects
                        and represented the school in ICPC tournaments.
                    </p>
                </div>

                <div class="imgJobGTAC">
                    <img src="../media/images/gtac.png" alt="GTAC logo">
                </div>

                <div class="infoJobGTAC">
                    <p>
                        I have been an intern at GTAC since February 2024, 
                        <br>
                        <br>
                        where I have developed web software for both the frontend and backend using technologies such as Django and GraphQL.
                    </p>
                </div>        

            </div>

            <div class="container technologies" style="display: none;">

                <h2>Technologies</h2>
                <hr>

                <div class="itemsContainer">

                    <div class="tec">

                        <img src="../media/images/c++.png" alt="icono">

                        <h3>C++</h3>
                     
                    </div>

                    <div class="tec">

                        <img src="../media/images/python.png" alt="icono">

                        <h3>Python</h3>
                        
                    </div>

                    <div class="tec">

                        <img src="../media/images/java.png" alt="icono">

                        <h3>Java</h3>
                        
                    </div>

                    <div class="tec">

                        <img src="../media/images/web.png" alt="icono">

                        <h3>Web languages</h3>
                        
                    </div>

                    <div class="tec">

                        <img src="../media/images/sql.png" alt="icono">

                        <h3>SQL</h3>
                        
                    </div>

                    <div class="tec">

                        <img src="../media/images/git.png" alt="icono">

                        <h3>Git</h3>
                        
                    </div>

                    <div class="tec">

                        <img src="../media/images/nodeJs.png" alt="icono">

                        <h3><Nav>Node.js</Nav></h3>
                        
                    </div>

                    <div class="tec">

                        <img src="../media/images/django.png" alt="icono">

                        <h3>Django</h3>
                        
                    </div>

                </div>

            </div>

        </div>

        <footer>By Mario Iahveh Tellez Partida</footer>

        <script src="../js/aboutMe.js"></script>

    </body>

</html>