<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../media/images/folder.ico" type="image/x-icon">
        <link rel="stylesheet" href="../css/contactMe.css"
        <title>Portfolio</title>

    </head>

    <body>

        <div class="title">

            <h1>Contact me</h1>
            
            <a href="./index.html">
                <img src="../media/images/goBack.png" alt="button to go back">
            </a>

        </div>

        <div class="main">

                <div class="contact first">
                    <h2>Email</h2>
                    <hr>
                    <h3>mariowars17@gmail.com</h3>
                </div>

                <div class="contact">
                    <h2>Phone number</h2>
                    <hr>
                    <h3>5545332365</h3>
                </div>               

        </div>

        <footer>By Mario Iahveh Tellez Partida</footer>

    </body>

</html>