<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../media/images/folder.ico" type="image/x-icon">
        <link rel="stylesheet" href="../css/index.css">
        <title>Portfolio</title>

    </head>

    <body>

        <div class="title">
            <h1>Computer Systems Engineer</h1>
            <h2>Mario Iahveh Tellez Partida</h2>
        </div>

        <div class="main">

            <video autoplay muted loop class="backgroundVideo">
                <source src="../media/videos/CODIGO.mp4" type="video/mp4">
            </video>

            <div class="content">

                <div class="me">
                    <img src="../media/images/meIndex.jpeg" alt="Image of me">
                </div>

                <div class="info">
                    <button  onclick="window.location.href='./aboutMe.html';">About me</button>
                    <button  onclick="window.location.href='./contactMe.html';">Contact me</button>
                </div>

            </div>

        </div>

        <footer>By Mario Iahveh Tellez Partida</footer>

    </body>

</html>